*{
    box-sizing: border-box;
    margin: 0;
}

btn {
    display: flex;
    height: 12vh;
    width: 12vh;
    background-color: lightblue;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 8vh;
    user-select: none;
    transition: background-color 0.4s, color 0.4s;
}

btn:hover {
    background-color: white;
}

#calcContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    background-color: grey;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
}

#display {
    display: flex;
    max-height: 10vh;
    width: 45vw;
    flex: 1;
    background-color: lightblue;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    margin-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

#displayText {
    font-size: 8vh;
    margin-left: auto;
    margin-right: 1vw;
}

#btns {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: grey;
    align-items: center;
    gap: 5vh;
}

.btnRow {
    display: flex;
    width: 50vw;
    justify-content: space-around;
    gap: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

#btnBlank {
    background-color: grey;
}

#btnEql {
    width: 45vw;
    border-radius: 8px;
}

.opBtn {
    background-color: rgb(255, 174, 127);
}